@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components   {
  
  .cool-link {
    display: inline-block;
    color: #f1f1f1;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f1f1f1;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}

} 